/*logo start*/
.head{
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
}
.head_sec{
/*	border-bottom: 1px solid #dee2e6;*/
/*	min-height: 65px;*/
/*	background-color: #f8f9fa;*/
	padding: 10px 0 4px;
}
.logo{
/*	border: 1px solid green;*/
}
.logo_img{
	width: 100%;
}

/*logo end*/

/*icons here start*/
.icons{}
.icn_images
.icn_img{
	margin-right: 15px;
}


/*icons here end*/

/*search here start*/
.search{
/*	height: 40px;*/
}
.serch_icon{}
.search_input{
	border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 4px;
    background-color: #fff;
}
.search_input:focus{
	outline: none;
}
.srch{
	width: 45px;
    padding: 4px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: transparent;
}
.srch img{}

/*search here end*/

/*left side bar start here*/
.leftside{}
.s_bar{
	border-right: 2px solid #dee2e6;
	min-height: 500px;
}
.content{
	padding: 10px 0;
}
.icon{
	width: 25px;
	display: inline;	
}
.text{
	display: inline;
    margin: 0;
    padding: 0px 7px;
    /* display: inline-block; */
    font-size: 19px;
    color: #3a4f63;
}
.txt{
	
}

/*left side bar end here*/

/*Right side bar start here*/
.r_bar{
	border-left: 2px solid #dee2e6;
	min-height: 500px;
}
.Actve_User{
	padding: 15px 0 20px;
}
.icn{
	width: 20px;
	min-height: 100%;
	padding-top: 8px;
	padding-bottom: 15px;
}
.users{
	border: 1px solid #dee2e6;
	padding-left: 15px;
}




/*Right side bar end here*/